/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	min-height: 100vh;
}

.skill-icon svg {
	width: 28px;
	height: 28px;
}

.effort-table-min-w {
	min-width: 1100px;
}

.productivity-tablw-min-w {
	min-width: 800px;
}

input[type='time']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

@media screen {
	.table-left-sticky th:first-child {
		@apply sticky left-1;
		background-color: inherit;
	}

	.table-left-sticky td:first-child {
		@apply sticky left-1;
		background-color: inherit;
	}
}

@media print {
	* {
		-webkit-print-color-adjust: exact !important;
		print-color-adjust: exact !important;
	}

	table {
		page-break-after: auto;
	}
	tr {
		page-break-inside: avoid;
		page-break-after: auto;
	}
	td {
		page-break-inside: avoid;
		page-break-after: auto;
	}
	thead {
		display: table-header-group;
	}
	tfoot {
		display: table-footer-group;
	}
}
