/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	min-height: 100vh;
}

.skill-icon svg {
	width: 28px;
	height: 28px;
}
